.env
homework2/secret.env
homework2/__pycache__/weather.cpython-39.pyc
homework2/__pycache__/Constants.cpython-39.pyc
homework3/__pycache__/StorageNode.cpython-39.pyc
homework3/__pycache__/Constants.cpython-39.pyc
homework3/__pycache__/NameNode.cpython-39.pyc
homework4-5/grpc/server/.DS_Store
homework4-5/grpc/.DS_Store
homework4-5/grpc/client/package-lock.json
homework4-5/Ice/lib/bzip2-1.0.jar
homework4-5/Ice/lib/commons-compress-1.26.1.jar
homework4-5/Ice/lib/commons-io-2.4.jar
homework4-5/Ice/out/production/Ice/calculator.cpp
homework4-5/Ice/out/production/Ice/calculator.h
homework4-5/Ice/lib/icegridgui.jar
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/.cmake/api/v1/query/cache-v2
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/cache-v2-91da1193338d52b7a8f2.json
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a1ee1ab469ad5d4c6c9b.json
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2f314e18db39981edd7b.json
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/index-2024-05-05T06-22-48-0404.json
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/target-untitled13-Debug-1ef146c9d5d18817f5b7.json
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-d0502afa689c6663d341.json
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/build.ninja
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/cmake_install.cmake
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeCache.txt
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.o
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.o
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/clion-environment.txt
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/cmake.check_cache
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/CMakeError.log
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/CMakeOutput.log
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/rules.ninja
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/CMakeFiles/TargetDirectories.txt
homework4-5/Ice/out/production/Ice/sr/ice/client/cmake-build-debug/Testing/Temporary/LastTest.log
homework4-5/Ice/out/production/Ice/sr/ice/client/CMakeLists.txt
homework4-5/Ice/out/production/Ice/sr/ice/client/calculator.o
homework4-5/Ice/src/sr/ice/client/calculator.o
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/.cmake/api/v1/query/cache-v2
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/cache-v2-91da1193338d52b7a8f2.json
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a1ee1ab469ad5d4c6c9b.json
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2f314e18db39981edd7b.json
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/index-2024-05-05T06-22-48-0404.json
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/target-untitled13-Debug-1ef146c9d5d18817f5b7.json
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-d0502afa689c6663d341.json
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/build.ninja
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/cmake_install.cmake
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeCache.txt
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.o
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.o
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/clion-environment.txt
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/cmake.check_cache
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/CMakeError.log
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/CMakeOutput.log
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/rules.ninja
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/CMakeFiles/TargetDirectories.txt
homework4-5/Ice/src/sr/ice/client/cmake-build-debug/Testing/Temporary/LastTest.log
homework4-5/Ice/src/sr/ice/client/CMakeLists.txt
homework4-5/Ice/.idea/.name
